body{
    width: 100vw;
}

.top-title{
    width: 100%;
    background-image: url(img/pattern.png);
    background-color: #4EA0FF;
}

#logo{
    width: 200px;
    height: 100px;
    margin-top: 20px;
}

h1{
    font-size: 35px;
}

